// Place all the styles related to the Cats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: url(asset-path('tacky.jpg'));
}

h1 {
  padding: 20px;
  font-size: 80px;
  color: #333;
  text-align: center;
  font-family: 'Lobster', cursive;
}
label {display:block;clear:both;}
label {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  padding: 15px;
}


input[type=text] {
  display: block;
  margin: 0;
  width: 65%;
  height: 40px;
  border-color: #333;
  border-width: 5px;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: 1px;
  -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

input[type="text"]:focus {
  outline: none;
}


textarea {
  width: 50%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
