body {
  background-image: url(asset-path('catpattern3.jpg'));
  background-repeat: none;
  background-size: cover;
}

h1 {
  padding: 20px;
  font-size: 80px;
  color: #eae7e3;
  text-align: center;
  font-family: 'Lobster', cursive;
}

label {display:block;clear:both;}

label {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  padding: 15px;
}

.rental_label {
  font-size: 25px;
  padding: 10px;
}

input[type=text] {
  display: inline;
  position: relative;
  left: 25px;
  bottom: 5px;
  margin: 0;
  width: 65%;
  height: 40px;
  border-color: #333;
  border-width: 2px;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

input[type="text"]:focus {
  outline: none;
}


input[type="date"] {
  width: 200px;
  position: relative;
  bottom: 7px;
}

input[type="submit"] {
  width: 250px;
  clear: both;
  margin: 10px auto;
  padding: 2px 5px;
}


select {
  width: 250px;
  position: relative;
  bottom: 5px;
}

textarea {
  width: 50%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-color: #333;
  border-width: 2px;
}

tr:hover {background-color: #f5f5f5}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  background-color: #f5f5f5;
  height: 50px;
  border: 1px solid black;
}

th {
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
}

td {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
