<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Cat</title>
  </head>
  <body>
    <h1>Submit A Cat</h1>
    <form action= "<%= cats_url %>" method="POST">
      <label for="Name">
        Name:
        <input type="text" name="cat[name]">
      </label>
      <label for="Sex">
        M
        <%= radio_button_tag(:sex, "M") %>
        F
        <%= radio_button_tag(:sex, "F") %>
      </label>
      <label for="Color">
        Color:
        <select name="cat[color]">
          <option value="">Option</options>
          <option value="Red">Red</options>
          <option value="Yellow">Yellow</options>
          <option value="Blue">Blue</options>
          <option value="Green">Green</options>
        </select>
      </label>
      <label for="date">Birth date:
        <input type='date' name='cat[birth_date]'>
      </label>
      <label>
        <textarea name="cat[description]" rows="8" cols="40">desribe your cat</textarea>
      </label>
      <input type="submit" value="Submit your cat">
    </form>
  </body>
</html>
